<div class="pt-3">
  <div *ngIf="summary$ | async; let summary" class="container d-flex flex-wrap">
    <mat-button-toggle
      (change)="toggleEvidence(button.key)"
      *ngFor="let button of evidenceButtons | keyvalue"
      [disabled]="get(button.key, summary) === 0"
      [matBadgeColor]="get(button.key, summary) === 1 && 'warn' || 'primary'"
      [matBadgeHidden]="!get(button.key, summary)"
      [matBadge]="get(button.key, summary)"
      [value]="button.key"
      class="col-lg-2 col-md-3 col-6"
    >
      {{button.value}}
    </mat-button-toggle>
  </div>

  <mat-list>
    <mat-list-item *ngFor="let mejai of mejaiList$ | async">{{mejai}}</mat-list-item>
  </mat-list>
</div>
